{% for key, project in projects.items() %}
    <div>
        {% if project.projects.projects %}
        {% else %}
        {% endif %}
        <a style="color:#000;text-decoration:none;" href="/?project={{ key }}">
            <span style="padding-left:{{ padding }}px">
                {{ project.project_name | safe }}
            </span>
            <span class="badge badge-primary badge-pill">
                {{ project.task_count }}
            </span>
        </a>
        {% if project.projects.projects %}
            <div id="full-tw-project-name" style="display:block;">
                {% with projects=project.projects.projects,
                        padding = padding + 20 %}
                    {% include 'projects.html' %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
{% endfor %}