<html>
    <head>
        <meta charset="UTF-8"><base href="/">
        <title>tasks.zz50.co.uk</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="width:98%;margin:0 auto;padding-top:5px;">
            <h1><a style="color:#000;text-decoration:none;" href="/">Tasks({{ tasks|length }})</a></h1>
            <div style="width:25%;float:left;word-wrap: break-word;">
                {% with padding = 0 %}
                    {% include 'projects.html' %}
                {% endwith %}
            </div>
            <div style="width:74%;float:right;">
                <table class="table table-bordered table-striped">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="width:25%">Project</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Description</th>
                    <th scope="col" style="width:12%">Due</th>
                    <th scope="col">Urgency</th>
                </tr>
                {% for task in tasks %}
                    <tr style="color:{{ task.due | row_colour }};">
                        <td>{{ task.id }}</td>
                        <td>{{ task.project | format_project | safe }}</td>
                        <td>
                            {% for tag in task.tags %}
                                {{ tag }}
                            {% endfor %}
                        </td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.due | to_date }}</td>
                        <td>{{ '%0.2f' | format(task.urgency) }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <script>
            $(".expand_project").click(function() {
                var selector = $.escapeSelector($(this).data("project"));

                if($("#" + selector).css('display') == 'block') {
                    var display = 'none';

                    $(this).toggleClass('oi-chevron-right', 'add');
                    $(this).toggleClass('oi-chevron-bottom', 'remove');
                } else {
                    var display = 'block';

                    $(this).toggleClass('oi-chevron-bottom', 'add');
                    $(this).toggleClass('oi-chevron-right', 'remove');
                }

                $("#" + selector).css('display', display);
                //$(this).removeClass('oi oi-chevron-right');
                //$(this).addClass('oi oi-chevron-down');

            });
        </script>
    </body>
</html>